body {
  margin: 0;
  overflow: hidden;

  text-align: center;
  
  background: rgb(16,16,16);
  background: linear-gradient(90deg, rgba(18,18,18,1) 0%, rgba(40,20,20,1) 33%, rgba(40,20,20,1) 67%, rgba(18,18,18,1) 100%);
  
}

h1 {
  color: #8C0000;
}

h2 {
  color: #5288ac;
}

div#bingo-card {
  display: flex;
}

section#killers {
  width: 60vw;
  height: 100vh;
  
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: darkred #5C0000 ;
}

#instructions {
  margin: 3vh 5vw 0 2.25vw;
  padding-top: 1.5vh;

  height: 5vh;
  width: 35vw;

  font-size: 30px;

  border-radius: 30px;
}

#randomize {
  cursor: pointer;

  margin-top: 1vh;
  margin-bottom: 5px;

  color: #8C0000;

  font-style: italic;
  text-decoration: underline;
  font-weight: bolder;
}

#randomize span {
  font-style: normal;
}

#card-size-toggle {
  margin-bottom: 10px;
  color: #8C0000;
  font-size: 14px;
}

#card-size-toggle label {
  margin-right: 15px;
  cursor: pointer;
}

#card-size-toggle input {
  cursor: pointer;
  margin-right: 5px;
}

.animal-type-header {
  margin-left: 2vw;
  
  color: #8C0000;
  text-align: left;

  border-bottom: 2px solid #5C0000;
}

.version-portrait {
  height: 7vh;
}

#killers-container {
  margin: 5vh 2.5vw 0 2.5vw;
  color: #1a5165;
}

.animal-type-portrait-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.portrait-container {
  width: 9vw;
  margin: .5vh;

  color: #AC0000;
  font-weight: 900;
  font-size: 18px;

  filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.25));

  cursor: pointer;
}

section#canvas {
  height: 100vh;
  width: 40vw;
  
  position: fixed;
  right: 0;

  overflow-y: scroll;
  overflow-x: hidden;
  
}

canvas {
  margin-top: 3vh;
}

#logo img {
  height: 10vh;

  margin: 2vh 0 0 2vw;
}

#top {
  display: flex;
  flex-flow: row nowrap;

  height: 10vh;
}

#ad {
  width: 50vw;

  margin: 5vh 0 0 1.1vw;

  text-align: center;
  font-style: italic;
  font-weight: 100;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

#ad .grow,
#randomize.grow {
  transition: all .2s ease-in-out;
}

#ad .grow:hover,
#randomize.grow:hover {
  transform: translateX(2px) scale(1.02);
}

#ad a {
  color: #A60000;
}

div#download-btn {
  margin-top: 2vh;
  margin-left: 13vw;

  height: 50px;
  width: 250px;
  background-color: #5C3636;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

a#download {
  font-size: 20px;
  text-decoration: none;
  color: red;
  font-weight: bold;
}